<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="/css/form.css" rel="stylesheet">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/form.js"></script>
	<!--js: load the uploaded pictures-->
	<script src="/js/uploadPictures.js">
	</script>
</head>

<body>
	<main>
		{{!-- another method: onclick="history.back()" --}}
		<div class="header">
			<div class="header-content header-left" style="font-size: 13px;" onclick="location.href='/library'">
				<button class="back-button"></button>
				Cancel
			</div>
			<div><b>New Product Form</b></div>
		</div>
		<form id="form">
			<br />
			<div class="divider">
				<div class="line"></div>
				<b>Basic Info</b>
				<div class="line"></div>
			</div>
			<div class="input-field">
				<label for="name" class="input-label">Product Name</label>
				<input class="input" type="text" id="name" name="name" value='{{formFields.[0].value}}'
					placeholder="e.g. Chair">
			</div>
			<div class="input-field">
				<label for="price" class="input-label">Price</label>
				<!--placeholder="eg. $20"-->
				<input class="input" type="text" id="price" name="price" value='{{formFields.[1].value}}'
					placeholder="e.g. $50">
			</div>

			<div class="divider">
				<div class="line"></div>
				<b>Dimensions</b>
				<div class="line"></div>
			</div>
			<!--dimensions-->
			<div class="input-field">
				<label for="dimension" class="input-label">Dimension</label>
				<select id="dimension" class="input" id="dimension" name="dimension" value='{{formFields.[2].value}}'>
					<option value="cm">centimenter (CM)</option>
					<option value="m">meter (M)</option>
					<option value="inch">inch (IN)</option>
					<option value="foot">foot (FT)</option>
				</select>
			</div>
			<div class="input-field">
				<label for="length" class="input-label">Length</label>
				<input class="input" type="text" id="length" name="length" value='{{formFields.[3].value}}'>
			</div>
			<div class="input-field">
				<label for="width" class="input-label">Width</label>
				<input class="input" type="text" id="width" name="width" value='{{formFields.[4].value}}'>
			</div>
			<div class="input-field">
				<label for="height" class="input-label">Height</label>
				<input class="input" type="text" id="height" name="height" value='{{formFields.[5].value}}'>
			</div>

			{{!-- <div class="dashed-divider"></div> --}}

			<!-- buttons -->
			<input id="file" multiple name="image" type="file" accept="image/gif, image/jpeg, image/png, image/jpg"
				style="display:none;">
			<label for="file" class="button" id="picture" onclick="UploadPicture()">Upload Picture</label>
			<div class="hint">Select up to <b>5 photos</b> from multiple angles to better present your product.</div>
			<div class="gallery" name="images"></div>

			<!--Product Information-->
			<div class="divider">
				<div class="line"></div>
				<b>Descriptions</b>
				<div class="line"></div>
			</div>
			<div class="input-field">
				<label for="condition" class="input-label">Condition</label>
				<select class="input" id="condition" name="condition" value='{{formFields.[6].value}}'>
					<option value=""></option>
					<option value="new">New</option>
					<option value="like new">Like New</option>
					<option value="good">Good</option>
					<option value="fair">Fair</option>
					<option value="poor">Poor</option>
				</select>
			</div>

			<!-- add new fields -->
			<div id="new-fields">
				{{#each newFields}}
				<div id="newfield-{{name}}" class="new-field-container">
					<div class="input-field" style="width: 38%;">
						<label for="new-field-input">
							<input id="new-field-label" class="input" type="text" name="new-field-label"
								placeholder="label (eg. color)" value="{{name}}">
							<label>
					</div>
					<div class="input-field" style="width: 52%;">
						<input id="new-field-input" class="input" type="text" name="new-field-input"
							placeholder="value (eg. brown)" value="{{value}}">
					</div>
					<div style="width: 8%;" onclick="deleteFieldNoArg('#newfield-{{name}}')">x</div>
				</div>
				{{/each}}
			</div>
			<button id="add-field-button" type="button"> + ADD NEW FIELD</button>

			<div class="dashed-divider"></div>

			<!-- description -->
			<textarea rows="8" class="input-field" placeholder="Please enter additional information if needed."
				name="description" value='{{formFields.[7].value}}'></textarea>

			<!--Contact Information-->
			<br />
			<div class="divider">
				<div class="line"></div>
				<b>Contact Info</b>
				<div class="line"></div>
			</div>

			<div class="contact-container">
				<div class="input-field" style="width: 39%; margin: 0;">
					<label for="contact-methods" class="input-label" style="font-size: 12px;">Contact Method</label>
					<select class="input" id="contact-methods" name="contact-methods" value='{{formFields.[8].value}}'
						style="font-size: 14px;">
						<option value="phone">Cell Phone</option>
						<option value="email">Email</option>
						<option value="wechat">WeChat</option>
						<option value="facebook">Facebook</option>
					</select>
				</div>
				<div class="input-field" style="width: 60%; margin: 0;">
					<input class="input" type="text" id="contact" name="contact" value='{{formFields.[9].value}}'
						placeholder="e.g. (555) 555 - 5555">
				</div>
			</div>

			<!-- Bottom Buttons-->
			<div class="btn-container">
				<button class="button bottom_btn" id="save" type="submit" value="Save for later"
					onclick="alert('Saved Successfully')">Save for later</button>
				<button class="button bottom_btn" id="preview" type="submit" value="Preview"
					onclick="onPreview('{{templateId}}')">Preview</button>
				{{!-- onclick="onPreview('{{templateId}}')">Preview</button> --}}
			</div>
		</form>
	</main>

</body>

</html>